In [2]:
age=18
if age>=18:
    print("Eligible")

Eligible

In [3]:
input()

 ghi

'ghi'

In [4]:
name = input("Enter name")
print(name)

Enter name Smarak

Smarak

In [6]:
age=int(input("Enter age"))
print(age,type(age))

Enter age 66

66 <class 'int'>

In [7]:
age =int(input("Enter age"))
if age>=18 and age<=45:
    print("Young blood")

Enter age 34

Young blood

In [14]:
price=float(input("Enter amount"))
if price>1000:
    price = 0.8*price;
else:
    price = 0.7*price;
print(int(price))

Enter amount 560

392

In [20]:
price = float(input("Enter amt"))
if price>=4000:
    print("discounted price is {}".format(int(price*0.8)))
elif price>=3000 and price<4000:
    print(f"discounted price is {int(price*0.7)}")
else:
    print("discounted price is {amt}".format(amt = int(price*0.6)))

Enter amt 1000

discounted price is 600

In [23]:
# while loop
age = 55
while age<=60:
    print(age)
    age=age+1
else:
    print("Time for retirement")

55
56
57
58
59
60
Time for retirement

In [25]:
# For loop
lst = [1,2,3,4,"Apple","Banana","Orange",True]
print(lst[5])
print(type(lst))
for x in lst:
    print(x)

Banana
<class 'list'>
1
2
3
4
Apple
Banana
Orange
True

In [28]:
fruit="mango"
print(fruit[3])
for x in fruit:
    print(x)

g
m
a
n
g
o

In [29]:
# Nested loop

In [31]:
for i in range(1,5):
    print(i)

1
2
3
4

In [33]:
for i in range(1,7,2):
    print(i)

1
3
5

In [35]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print()

*
**
***
****
*****
******
*******

In [ ]:
# break continue and pass